.block2{
    h3{
        margin-top: 8rem;
    }
}

.block4{
    min-height: 80rem;
    background-repeat: repeat;
}

.block5{
    text-align: center;
    .etaps{
        justify-content: space-around;
    }
    .etap{
        margin-right: 6rem;
        padding-left: 0;
        align-items: center;
        width: 25%;
        position: relative;
        img{
            position: relative;
            /*left: 9.5rem;*/
            width: 204px;
            height: 230px;
        }
        .arrow {
            position: relative;
            margin: 50px auto;
        }
        .arrow:before,
            .arrow:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid transparent;
            border-right: 0;
        }
        .arrow {
            width: 135px;
            height: 3px;
            position: absolute;
            background: #fff;
            top: 60px;
            right: -70px;

        }
        .arrow:after {
            top: -5px;
            right: -25px;
            border-left-color: #fff;
            border-width: 6px 0 6px 25px;
        }
        &:last-child{
            align-items: center;
            margin-right: 0;
            img{
                left: 0;
            }
            .arrow{
                display: none;
            }
        }
    }
    button{
        margin-left: 0;
    }
}

.block6{
    text-align: center;
    .facts{
        text-align: left;
    }
    button{
        margin-left: 0;
    }
}

.block8{
    padding: 0 25px;
    .flex-container{
        height: 56vh;
    }
    .padbot0{
        p{
            margin-bottom: 0;
        }   
    }
    .to-catalog{
        padding-top: 0;
        padding-bottom: 0;
        a{
            color: #fff;
            text-decoration: none;
            font-size: 2rem;
        }
    }
}

.block9{
    min-height: 52rem;
    h3{
        margin-top: 8rem;
    }
    .uslugi{
        width: 80%;
        margin: 0 auto;
    }
    .usluga{
        padding-right: 3rem;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){

}
@media only screen and (min-width: 1024px) and (max-width: 1280px){

}
@media only screen and (min-width: 768px) and (max-width: 1024px){

}
@media only screen and (min-width: 425px) and (max-width: 768px){

}
@media only screen and (min-width: 320px) and (max-width: 425px){
    .block2{
        padding: 0;
        text-align: center;
        .img-block{
            display: none;
        }
        .block2-text{
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1.6rem;;
            text-align: justify;
        }
        .preimushestva{
            flex-direction: column;
            margin-top: 0;
            .pr{
                padding-left: 0;
                margin: 0 auto;
            }
        }
    }
    .block2-info{
        padding-bottom: 2rem;
    }
    .block3{
        padding: 0;
        min-height: 100%;
        background-size: cover;
        div{
            padding-bottom: 0;
        }
    }
    .block3-text{
        font-size: 1.8rem;
        text-align: justify;
    }
    .block4{
        padding: 0 0 2rem 0;
        .questions{
            .question{
                transform: none;
                opacity: 1;
            }
            h4{
                padding-left: 3px;
            }
            td{
                display: none;
                &.text{
                    display: table;
                    padding: 0;
                    border: none;
                    text-align: justify;
                }
            }
        }
    }
    .block5{
        padding: 0;
        background: #9A8975;
        height: auto;
        .etaps{
            flex-direction: column;
        }
        .etap{
            width: 100%;
            margin: 0;
            /*margin-top: 1rem;*/
            margin-bottom: 2rem;
            flex-direction: row;
            border-bottom: 1px solid #fff;
            img{
                width: 80px;
                height: 80px;
                order: 1;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.8rem;
                order: 2;
                margin: auto;
            }
            .arrow{
                display: none;
            }
        }
        button{
            width: 100%;
            padding: 1rem 0;
        }
    }
    .block6{
        padding: 0;
        height: auto;
        .fact{
            margin-bottom: 2rem;
            .read-more{
                border-bottom: 1px solid #71553a;
            }
        }
        button{
            width: 100%;
            padding: 1rem 0;   
        }
    }
}
