.block2{
    h3{
        margin-top: 8rem;
    }
}

.block4{
    min-height: 80rem;
    background-repeat: repeat;
}

.block5{
    text-align: center;
    .etaps{
        justify-content: space-around;
    }
    .etap{
        margin-right: 6rem;
        padding-left: 0;
        align-items: center;
        width: 25%;
        position: relative;
        img{
            position: relative;
            /*left: 9.5rem;*/
            width: 204px;
            height: 230px;
        }
        .arrow {
            position: relative;
            margin: 50px auto;
        }
        .arrow:before,
            .arrow:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid transparent;
            border-right: 0;
        }
        .arrow {
            width: 135px;
            height: 3px;
            position: absolute;
            background: #fff;
            top: 60px;
            right: -70px;

        }
        .arrow:after {
            top: -5px;
            right: -25px;
            border-left-color: #fff;
            border-width: 6px 0 6px 25px;
        }
        &:last-child{
            align-items: center;
            margin-right: 0;
            img{
                left: 0;
            }
            .arrow{
                display: none;
            }
        }
    }
    button{
        margin-left: 0;
    }
}

.block6{
    text-align: center;
    .facts{
        text-align: left;
    }
    button{
        margin-left: 0;
    }
}

.block8{
    padding: 0 25px;
    .flex-container{
        height: 56vh;
    }
    .padbot0{
        p{
            margin-bottom: 0;
        }   
    }
    .to-catalog{
        padding-top: 0;
        padding-bottom: 0;
        a{
            color: #fff;
            text-decoration: none;
            font-size: 2rem;
        }
    }
}

.block9{
    min-height: 52rem;
    background-size: cover;
    h3{
        margin-top: 8rem;
    }
    .uslugi{
        width: 80%;
        margin: 0 auto;
    }
    .usluga{
        padding-right: 3rem;
    }
    .mobile-div{
        display: none;   
    }
}
@media only screen and (max-width: 1440px){
    .block9{
        .mobile-div{
            display: block;
        }
        table{
            &.uslugi{
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1023px){
    .block2{
        padding: 0;
        text-align: center;
        .img-block{
            display: none;
        }
        .block2-text{
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1.6rem;;
            text-align: justify;
        }
        .preimushestva{
            flex-direction: column;
            margin-top: 0;
            .pr{
                padding-left: 0;
                margin: 0 auto;
            }
        }
    }
    .block2-info{
        padding-bottom: 2rem;
    }
    .block3{
        padding: 0;
        min-height: 100%;
        background-size: cover;
        div{
            padding-bottom: 0;
        }
    }
    .block3-text{
        font-size: 1.8rem;
        text-align: justify;
    }
    .block4{
        padding: 0 0 2rem 0;
        .questions{
            .question{
                transform: none;
                opacity: 1;
            }
            h4{
                padding-left: 3px;
            }
            td{
                display: none;
                &.text{
                    display: table;
                    padding: 0;
                    border: none;
                    text-align: justify;
                }
            }
        }
    }
    .block5{
        padding: 0 0 3rem;
        background: #9A8975;
        height: auto;
        .etaps{
            flex-direction: column;
        }
        .etap{
            width: 100%;
            margin: 0;
            /*margin-top: 1rem;*/
            margin-bottom: 2rem;
            flex-direction: row;
            border-bottom: 1px solid #fff;
            img{
                width: 80px;
                height: 80px;
                order: 1;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.8rem;
                order: 2;
                margin: auto;
            }
            .arrow{
                display: none;
            }
        }
        button{
            width: 100%;
            padding: 1rem 0;
        }
    }
    .block6{
        padding: 0 0 3rem;
        height: auto;
        .facts{
            img{
                max-width: 100%;
                margin: 0 auto;
                object-fit: cover;
            }
        }
        .fact{
            margin-bottom: 2rem;
            .read-more{
                border-bottom: 1px solid #71553a;
            }
        }
        button{
            width: 100%;
            padding: 1rem 0;   
        }
    }
    .block7{
        padding: 0;
        margin-top: 0;
        min-height: 100%;
        h3{
            width: 100%;
            padding-right: 0;
            text-align: center;
        }
        form{
            margin-left: 0;
            ul{
                padding-left: 0;
                width: 100%;
            }
            li{
                width: 100%;
                padding-left: 0;
                input{
                    min-width: 100%;
                    width: 100%;
                }
                button{
                    margin: 0;
                    width: 100%;
                    padding: 1rem 0;
                }
            }
        }
        p{
            padding: 0;
            justify-content: space-around;
            color: #fff;
        }
    }
    .block8{
        padding-left: 0;
        padding-right: 0;
        p{
            text-align: justify;
        }
        .flex-slide{
            width: 100%;
            overflow: hidden;
            .flex-title{
                margin: 0;
                font-size: 1.8rem;
                text-align: center;
                top: 7rem;
            }
            .flex-about{
                font-size: 1.8rem;
                &.to-catalog{
                    a{
                        font-size: 1.6rem
                    }
                }
            }
        }
    }
    .block9{
        padding: 0;
        .service{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 2rem;
        }
        .service-img{
            min-width: 80px;
            max-width: 80px;
            margin-right: 3rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .block7{
        form{
            li{ 
                &:nth-child(-n+4){
                    background: none;
                }
            }
        }
    }
    .block8{
        .flex-container{
            height: 160vh;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .block2{
        h3{
            margin-top: 3rem;
        }
        .preimushestva{
            flex-direction: row;
        }
    }
    .block4{
        min-height: 100%;
    }
    .block5{
        background-image: url(../img/block5/block5_bg.png);
        .etap{
            p{
                font-size: 2rem;
                text-shadow: 2px 2px 7px #000;
            }
        }
        button{
            width: 50%;
        }
    }
    .block6{
        .facts{
            img{
                min-width: 100%;
            }
        }
        button{
            width: 50%;
        }
    }
    .block7{
        form{
            width: 80%;
            margin: 0 auto;
            ul{
                padding-left: 4rem;
                li{
                    padding-left: 6rem;
                }
            }
        }
    }
    .block8{
        .flex-container{
            height: 50vh;
        }
    }
    .block9{
        .services{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .service{
                width: 40%;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .fact{
        img{
            margin: 0 auto;
        }
    }
}
@media only screen and (min-width: 1200px){
    .fact{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px){
    .block2{
        .preimushestva{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .pr{
                padding-left: 0;
            }
        }
    }
    .block7{
        form{
            max-width: 65%;
            margin: 0 auto;
            ul{
                &.flex-outer{
                    width: 100%;
                    padding-left: 0;
                }
                li{
                    width: 100%;
                    input{
                        min-width: 100%;
                    }
                }
            }
        }
        button{
            margin: 0 auto;
        }
    }
    .block9{
        .services{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .service{
                display: flex;
                min-width: 40%;
                align-items: center;
                margin-bottom: 3rem;
                div{
                    padding-right: 1rem;   
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
    .block2{
        padding: 0;
        .img-block{
            align-items: center;
            img{
                max-width: 100%;
            }
        }
    }
    .block2-text{
        padding-left: 0;
    }
    .block5{
        min-height: auto;
        background-size: cover;
        .etaps{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 3rem;
        }
        .etap{
            margin-right: 0;
            flex-direction: row;
            min-width: 45%;
            img{
                width: 10rem;
                height: 10rem;
            }
            .arrow{
                display: none;
            }
            p{
                margin: 2.5rem auto;
            }
        }
        button{
            margin-bottom: 3rem;
        }
    }
    .fact{
        margin-bottom: 3rem;
    }
    .block8{
        .flex-slide{
            min-width: 60px;
        }
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1600px){
    .block2{
        .img-block{
            img{
                width: 100%;
            }
        }
        .preimushestva{
            .pr{
                min-width: 50%;
            }
        }
    }
    .block2-text{
        text-align: justify;
    }
    .block5{
        .etap{
            img{
                width: 130px;

            }
            .arrow{
                width: 100px;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .block8{
        .flex-slide{
            .flex-title{
                margin-bottom: 2rem;
                font-size: 1.4rem;
                top: 1rem;
            }
            .flex-about{
                font-size: 1.6rem;
                padding-bottom: 2rem;
                &.to-catalog{
                    a{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
