.footer{
    padding: 50px 40px;
    .copyright{
        p{
            margin-top: 40px;   
        }
    }
    .footer-right_policy{
        margin-top: 5.3rem;   
    }
    .footer-social{
        
    }
}

