$hamburger-padding-x                       : 10px;
$hamburger-padding-y                       : 5px;
$hamburger-layer-width                     : 2.5rem;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 6px;
$hamburger-layer-color                     : #555555;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;

