h1{
    font-size: 9.5rem;
    font-family: 'Alegreya Sans';
    font-weight: 500;
    font-style: normal; 
}
h3{
    font-family: arsenal;
    font-weight: 400;
    font-size: 3.8rem;
}
.padbot0{
    padding-bottom: 0;   
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){

}
@media only screen and (min-width: 1024px) and (max-width: 1280px){

}
@media only screen and (min-width: 768px) and (max-width: 1024px){

}
@media only screen and (min-width: 425px) and (max-width: 768px){

}
@media only screen and (min-width: 320px) and (max-width: 425px){
    
}
